<div class="card">
  <div class="card-header">
    Add Deals
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Enter imageUrl">
      </div>
      <div class="form-group">
        <label for="place">Place</label>
        <input type="text" class="form-control" id="place" name="place" placeholder="Enter place">
      </div>
      <button type="submit" class="btn btn-primary">Add Deal</button>
    </form>
  </div>
</div>
