<div class="card">
  <div class="card-header">
    View Deals
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Place</th>
        <th scope="col">Description</th>
        <th scope="col">Image URL</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deal of dealsObservable | async">
        <th scope="row">1</th>
        <td>{{ deal.title}}</td>
        <td>{{ deal.place}}</td>
        <td>{{ truncate(deal.description)+'...'}}</td>
        <td>{{ truncate(deal.imageURL)+'...'}}</td>
        <td><span style="color: red;">X</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
